*.clip filter=lfs diff=lfs merge=lfs -text
*.const filter=lfs diff=lfs merge=lfs -text
*.custom filter=lfs diff=lfs merge=lfs -text
*.dd filter=lfs diff=lfs merge=lfs -text
*.mtc filter=lfs diff=lfs merge=lfs -text
*.mqb filter=lfs diff=lfs merge=lfs -text
*.rscf filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tcf filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.tswd filter=lfs diff=lfs merge=lfs -text
*.tswd2 filter=lfs diff=lfs merge=lfs -text
*.wad filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
